.gd-reload {
    cursor: pointer;
    vertical-align: top;
    fill: #DCDDDE;
}

.gd-reload:hover {
    fill: #FFFFFF;
}

.gd-reload-header {
    margin-left: 5px;
}

.gd-reload-card {
    margin-right: 5px;
}

.gd-controls,
.gd-controls-basic,
.gd-controls-advanced {
    display: flex;
}

.gd-addon-list {
    user-select: text;
}

.gd-addon-list.gd-grid-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

.gd-addon-list .gd-addon-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    background: var(--background-secondary);
}

.gd-addon-list.gd-grid-view .gd-addon-card {
    margin-bottom: 0;
}

.gd-addon-list .gd-addon-header {
    color: var(--header-primary);
    background: var(--background-secondary-alt);
    padding: 16px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.gd-addon-header .gd-icon {
    margin-right: 8px;
    fill: var(--header-primary);
}

.disabled .gd-addon-header .gd-icon {
    fill: red;
}

.gd-title,
.gd-name,
.gd-meta {
    display: inline;
    line-height: normal;
}

.gd-title {
    flex: 1;
    min-width: 0;
}

.gd-meta {
    color: var(--channels-default);
    font-weight: 500;
}

.gd-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gd-name::after,
.gd-version::after {
    display: inline;
    content: " ";
}

.gd-grid-view .gd-title {
    display: flex;
    flex-direction: column;
}

.gd-grid-view .gd-meta {
    font-size: 12px;
}

.gd-description-wrap {
    flex: 1;
    padding: 8px 16px 0 16px;
}

.gd-description-wrap .banner {
    padding: 5px;
    border: 2px solid gray;
    background: #26191E;
    color: #ffffff;
    font-weight: 700px;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.banner.banner-danger {
    border-color: #F04747;
    background: #473C41;
}

.banner .gd-icon {
    fill: #ffffff;
    margin-right: 5px;
    height: 16px !important;
}

.banner-danger .gd-icon {
    fill: #F04747;
}

.gd-addon-list .gd-description {
    word-break: break-word;
    margin-bottom: 5px;
    padding: 5px 0;
    overflow-y: auto;
    max-height: 175px;
    font-size: 14px;
    line-height: 18px;
    -webkit-line-clamp: 3;
    color: var(--header-secondary);
}

.gd-description em {
    font-style: italic;
}

.gd-description code {
    padding: 0.2em;
    margin: -0.2em 0;
    border-radius: 3px;
    font-size: 85%;
    line-height: 1.125rem;
    white-space: pre-wrap;
    background: var(--background-tertiary);
}

.gd-addon-list .scroller::-webkit-scrollbar-track-piece,
.gd-addon-list .scroller::-webkit-scrollbar-thumb {
    border-radius: 0 !important;
    border-color: transparent;
}

.gd-addon-list .gd-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px 16px 16px;
    overflow: hidden;
}

.gd-controls > .gd-addon-button {
    border-radius: 0;
    padding: 4px 6px;
}

.gd-links .gd-addon-button + .gd-addon-button {
    margin-left: 10px;
}

.gd-controls > .gd-addon-button svg {
    fill: #FFFFFF;
}

.gd-controls > .gd-addon-button:first-of-type {
    border-radius: 3px 0 0 3px;
}

.gd-controls > .gd-addon-button:last-of-type {
    border-radius: 0 3px 3px 0;
}

.gd-controls > .gd-addon-button:only-child {
    border-radius: 3px;
}

.gd-controls + .gd-addon-list {
    margin-top: 10px;
}

.gd-addon-controls {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gd-settings-title .gd-search {
    font-size: 13px;
    margin: 0;
    width: 200px;
}

.gd-addon-dropdowns {
    display: flex;
}

/* Error Boundary stuff */
.react-error {
    color: red;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.settings-open .gd-close {
    cursor: pointer;
    float: right;
}

.gd-addon-modal {
    min-height: 0;
}

.gd-addon-modal-settings {
    /* padding: 16px; */
    padding: 0 16px 16px 16px;
}

.gd-addon-modal-footer .gd-button {
    background-color: #3E82E5;
}

.gd-addon-modal-footer .gd-button:hover {
    background-color: rgb(56, 117, 206);
}

.gd-addon-modal-footer .gd-button:active {
    background-color: rgb(50, 104, 183);
}

.gd-addon-views {
    display: flex;
    margin-left: 10px;
}

.gd-addon-controls .gd-button {
    background-color: transparent;
    padding: 3px 4px;
}

.gd-addon-controls .gd-button svg {
    fill: var(--interactive-normal);
}

.gd-addon-controls .gd-button.selected svg {
    fill: #FFFFFF;
}

.gd-addon-controls .gd-button:hover {
    background-color: var(--background-modifier-selected);
}

.gd-addon-controls .gd-button:active {
    background-color: var(--background-modifier-accent);
}

.gd-addon-controls .gd-button.selected {
    background-color: #3E82E5;
}

.gd-addon-controls .gd-button + .gd-button {
    margin-left: 5px;
}

.gd-controls-basic .gd-button:active svg {
    fill: #FFFFFF;
}

.gd-controls-basic .gd-button:active {
    background-color: #3E82E5;
}

.gd-addon-list .gd-footer .gd-links,
.gd-addon-list .gd-footer .gd-links a,
.gd-addon-list .gd-footer .gd-addon-button {
    display: flex;
    align-items: center;
}

.gd-addon-list .gd-footer .gd-link {
    color: var(--interactive-normal);
}

.gd-addon-list .gd-footer .gd-link:hover {
    color: var(--interactive-hover);
}

.gd-addon-list .gd-footer .gd-link:active {
    color: var(--interactive-active);
}

.gd-addon-list .gd-footer .gd-link svg {
    fill: currentColor;
}

.gd-addon-list .gd-footer .gd-links .gd-addon-button {
    height: 24px;
}
